@font-face {
    font-family: 'cursive';
    src: url(/fonts/Molle-Italic.woff);
}

@font-face {
    font-family: 'normal';
    src: url(/fonts/ChelseaMarket-Regular.woff);
}

@font-face {
    font-family: 'emoji';
    src: url(/fonts/NotoEmoji-VariableFont_wght.woff);
}

.emoji {
    font-family: 'emoji';
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.emoji:hover {
    transform: translateY(-8px);
}

body {
    background-color: #F2EADF;
    font-family: 'normal';
    color: #5A3E36;
}

h1, .scoop-footer {
    font-family: 'cursive';
}

.navbar-brand {
    font-family: 'cursive';
    font-size: 30px;
    color: #F2EADF;
}

.navbar-brand:hover {
    color: #F2EADF;
}

.nav-link {
    font-family: 'normal';
    color: #D7A6A1;
}

.nav-link:hover {
    color: #F2EADF;
}

.navbar {
    background-color: #5A3E36;
}

.ordr {
    color: #9CAF9A;
}

.ordr:hover {
    color: #D7A6A1;
}

.first-o {
    color: #9CAF9A;
}

.secnd-o {
    color: #D7A6A1;
}

.first-o-b {
    color: #9CAF9A;
    -webkit-text-stroke-color: #5A3E36;
    -webkit-text-stroke-width: 0.3px;
}

.hero {
    background-image: url(/images/top-view-different-types-ice-cream.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    padding: 80px 0;
}

.hero h1 {
    color: #5A3E36;
    font-family: 'normal';
}

.order-btn {
    background-color: #D7A6A1;
    color: #F2EADF;
    transform: rotate(2deg);
    transition: transform 0.3s ease-out;
}

.order-btn:hover {
    color: #5A3E36;
    background-color: #F2EADF;
    transform: rotate(0deg);
}

.about-section {
    background-color: #9CAF9A;
}

.about-h {
    color: #5A3E36;
}

.ice-cream-shop {
    border-radius: 5%;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

.ice-cream-shop:hover {
    transform: rotate(5deg);
}

.review-card {
    font-style: italic;
    border-left: 5px solid #D7A6A1;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

.review-card:hover {
    transform: scale(1.1);
}

.cta-section {
    color: #5A3E36;
}

.cta-box {
    background-color: #9CAF9A;
    padding: 50px 0;
    border: transparent solid;
    border-radius: 3%;
}

.more-btn {
    background-color: transparent;
    color: #5A3E36;
    border: #5A3E36 solid 2px;
    transform: rotate(2deg);
    transition: transform 0.3s ease-out;
}

.more-btn:hover {
    transform: rotate(0deg);
    background-color: #D7A6A1;
    border: #5A3E36 solid 2px;
}

.flavor-card {
    transition: transform 0.3s ease;
    border-radius: 15px;
    overflow: hidden;
    color: #5A3E36;
}

.flavor-card:hover {
    transform: rotate(2deg);
}

.card-head {
    color: #9CAF9A;
}

.detail-btn {
    background-color: transparent;
    color: #5A3E36;
    border: #5A3E36 solid 2px;
    transform: rotate(2deg);
    transition: transform 0.3s ease-out;
}

.detail-btn:hover {
    transform: rotate(0deg);
    background-color: #D7A6A1;
    color: #F2EADF;
    border: #5A3E36 solid 2px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.footer {
    background-color: #5A3E36;
    color: #F2EADF;
}

.footer-text {
    color: #9CAF9A;
}

.link {
    text-decoration: none;
    color: #D7A6A1;
}

.link:hover {
    color: #F2EADF;
}