@font-face {
    font-family: 'cursive';
    src: url(/fonts/Molle-Italic.woff);
}

@font-face {
    font-family: 'normal';
    src: url(/fonts/ChelseaMarket-Regular.woff);
}

@font-face {
    font-family: 'emoji';
    src: url(/fonts/NotoEmoji-VariableFont_wght.woff);
}

.emoji {
    font-family: 'emoji';
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.emoji:hover {
    transform: translateY(-8px);
}

body {
    background-color: #F2EADF;
    font-family: 'normal';
    color: #2E1B16;
}

h1, .scoop-footer {
    font-family: 'cursive';
}

.navbar-brand {
    font-family: 'cursive';
    font-size: 30px;
    color: #F2EADF;
}

.navbar-brand:hover {
    color: #F2EADF;
}

.nav-link {
    font-family: 'normal';
    color: #F58C96;
}

.nav-link:hover {
    color: #F2EADF;
}

.navbar {
    background-color: #2E1B16;
}

.ordr {
    color: #8DE0AC;
}

.ordr:hover {
    color: #F58C96;
}

.first-o {
    color: #8DE0AC;
}

.secnd-o {
    color: #F58C96;
}

.thank-you-box {
    background: #8DE0AC;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.home-btn {
    background-color: #F58C96;
    color: #F2EADF;
    transform: rotate(2deg);
    transition: transform 0.3s ease-out;
}

.home-btn:hover {
    color: #2E1B16;
    background-color: #F2EADF;
    transform: rotate(0deg);
}